@model Lib.Dto.CargoPageDto

@{ViewData["Title"] = "Adicionar Cargo";};


<form method="post">
    <div class="row mt-3">
        <div class="col-11">
            <select name="Cargo" class="custom-select form-control">
                @{
                    if (Model.Cargos != null)
                        foreach (var cargos in Model.Cargos)
                        {
                            <option value="@cargos.Id">@cargos.Nome</option>
                        }
                }
            </select>
        </div>
        <div class="col-1">
            <button type="submit" class="form-control btn btn-success" asp-action="AdicionarContaCargo" asp-controller="PainelAdmin" asp-route-Id="@Model.IdPessoa"><i class="fa-solid fa-check mr-1"></i></button>
        </div>

    </div>


    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nivel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{

                if (Model.CargosPessoa != null)
                    foreach (var cargo in Model.CargosPessoa)
                    {
                        <tr>
                            <td width="45%">@cargo.Nome</td>
                            <td width="45%">@((Lib.Enum.NivelContaEnum)cargo.IdTipoCargo)</td>
                            <td width="10%"><button type="submit" class="form-control btn btn-danger" asp-action="RemoverContaCargo" asp-controller="PainelAdmin" asp-route-IdConta="@Model.Id" asp-route-IdCargo="@cargo.Id"><i class="fa-solid fa-xmark"></i></button></td>
                        </tr>
                    }
            }
        </tbody>
    </table>
</form>

