@model Lib.Dto.AtribuirProjetoDto

@{ViewData["Title"] = "Atribuir Projeto";}


<form method="post">

    <div class="row mt-3">
        <div class="col-8">
            <input name="Funcao" id="Funcao" placeholder="Função" class="form-control" />
        </div>
        <div class="col-3">
            <label>É gerente do projeto?</label>
        </div>
        <div class="col-1">
            <input type="checkbox" name="Gerente" id="Gerente" class="form-control" />
        </div>
        <div class="col-12 my-2">
            <select name="Projeto" class="custom-select form-control">
                @{
                    if (Model != null)
                        foreach (var projeto in Model.Projetos)
                        {
                            <option value="@projeto.Id">@projeto.Nome</option>
                        }
                }
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="form-control btn btn-success" asp-action="AtribuirProjeto" asp-controller="PainelAdmin" asp-route-Id="@ViewContext.RouteData.Values["id"]"><i class="fa-solid fa-check mr-1"></i></button>
        </div>

    </div>


    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prioridade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{

                if (Model.ProjetosUsuario != null)
                    foreach (var projetoUsuario in Model.ProjetosUsuario)
                    {
                        <tr>
                            <td width="45%">@projetoUsuario.Nome</td>
                            <td width="45%">@projetoUsuario.Prioridade</td>
                            <td width="10%"><button type="submit" class="form-control btn btn-danger" asp-action="RemoverProjetoUsuario" asp-controller="PainelAdmin" asp-route-IdUsuario="@ViewContext.RouteData.Values["id"]" asp-route-IdProjeto="@projetoUsuario.Id"><i class="fa-solid fa-xmark"></i></button></td>
                        </tr>
                    }
            }
        </tbody>
    </table>
</form>