@model List<Lib.Data.ChamadoDal>

@{
    ViewData["Title"] = "Chamados";
}

<div class="row d-flex justify-content-center">
            <div class="col-2">
                <a asp-action="CriarChamado" asp-controller="PainelAdmin" class="btn btn-info form-control">Criar Chamado</a>
            </div>
</div>
<hr />

<form method="post">
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Projeto</th>
                <th>Status</th>
                <th>Tipo</th>
                <th>Prioridade</th>
                <th>Atribuir</th>
                <th>Acessar</th>
            </tr>
        </thead>
        <tbody>
            @{

                if (Model != null)
                    foreach (var Chamado in Model)
                    {
                        <tr>
                            <td width="20%">@Chamado.Nome</td>
                            <td width="15%">@(Chamado.NomeProjeto!=""?Chamado.NomeProjeto:"Nenhum")</td>
                            <td width="20%">@((Lib.Enum.ChamadoStatus)Chamado.IdStatus)</td>
                            <td width="20%">@((Lib.Enum.TipoDeChamadoEnum)Chamado.IdTipoChamado)</td>
                            <td width="10%">@((Lib.Enum.PrioridadeEnum)Chamado.Prioridade)</td>
                            <td width="5%"><button type="submit" class="form-control btn btn-primary" formmethod="get" asp-action="AtribuirChamado" asp-controller="PainelAdmin" asp-route-Id="@Chamado.Id"><i class="fa-solid fa-pen-clip"></i></button></td>
                            <td width="5%"><button type="submit" class="form-control btn btn-success" asp-action="Chamados" asp-controller="PainelAdmin" asp-route-IdProjeto="@Chamado.Id"><i class="fa-solid fa-arrow-right"></i></button></td>
                        </tr>
                    }
            }
        </tbody>
    </table>
</form>
